@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="row titletext">
    <div class="col-auto text">
        Service Request
    </div>
</div>
<form method="post" data-ajax="true" data-ajax-mode="replace" data-ajax-failure="notfound" data-ajax-update="#servreqtable" asp-action="SearchRequest" asp-controller="Admin">
    <div class="row form">
        <div class="alert alert-danger collapse" id="response" role="alert">
            <!--<div class="alert alert-danger collapse" id="failuremessage" role="alert">
                <strong>The old password you entered is incorrect.</strong>-->
            @*<button onclick="closealert()" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>*@
            <!--</div>-->
        </div>
        <div class="col-auto serviceid">
            <input type="number" class="form-control" placeholder="Service ID" name="serviceid">
        </div>


        <div class="col-auto selcustomer">
            <select class="form-select" asp-items="@ViewBag.customers" name="customerid">
            </select>
        </div>
        <div class="col-auto ">
            <select class="form-select" asp-items="@ViewBag.serviceproviders" name="serviceproviderid">
            </select>
        </div>


        <div class="col-auto ">
            <select class="form-select" name="statusid">
                <option value="0">Status</option>
                <option value="1">New</option>
                <option value="2">Pending</option>
                <option value="3">Completed</option>
                <option value="4">Cancelled</option>
                <option value="5">Recheduled</option>
                <option value="6">Refunded</option>
                <option value="7">Change SP</option>
                <option value="8">Expired</option>
            </select>
        </div>
        <div class="col-auto date">
            <input type="date" class="form-control" name="fromdate" placeholder="From date "
                   onfocus="(this.type='date')">
        </div>
        <div class="col-auto date">
            <input type="date" class="form-control" name="todate" placeholder="To date"
                   onfocus="(this.type='date')">
        </div>
        <div class="col-auto">
            <button class="search" type="submit">Search</button>
        </div>
        <div class="col-auto">
            <button class="clear" type="reset">Clear</button>
        </div>
    </div>
</form>