@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Helperland.Models.User;


<div class="modal fade popup" id="forget-popup" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
     aria-hidden="true">
    <div class="vertical-align-helper">

        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">

                    <h5 class="modal-title" id="exampleModalLabel">Forget Password</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <img src="~/assets/close.png" alt="">
                    </button>
                </div>
                <div class="modal-body">

                    @if (TempData.ContainsKey("ForgetPositive"))
                    {
                        <div class="alert alert-success" role="alert">
                            @TempData["ForgetPositive"]
                        </div>
                    }

                    @if (TempData.ContainsKey("ForgetNegative"))
                    {
                        <div class="alert alert-danger" role="alert">
                            @TempData["ForgetNegative"]
                        </div>
                    }

                    <form method="post" asp-controller="Home" asp-action="ForgetPassword">

                        <div class="form-group ">
                            <input type="email" class=" form-control" asp-for="Email" id="exampleInputEmail1"
                                   aria-describedby="emailHelp" placeholder="Email Address">


                            <img src="~/assets/email.png" alt="">

                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>



                        <button type="submit" class="btn">Send</button>
                        <div class="text-center">
                            <a class="setPointer forgotLink" data-dismiss="modal" data-toggle="modal" data-target="#login-popup">
                                login now
                            </a>
                        </div>



                    </form>
                </div>

            </div>
        </div>
    </div>
</div>