@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Http;

@model Helperland.Models.UserAddress;

@{
    var zipcode = Context.Session.GetString("ZipCode");
}

<span class="title">
    Enter your contact details, so we can serve you
    in better way!
</span>
<div class="scenario2">
    <ul class="address-picker" formarrayname="Address">
    </ul>
    <div id="add-address" class="collapse">
        <form method="post" data-ajax="true" data-ajax-method="post" data-ajax-success="Tab3Click()" data-ajax-url="/PublicPages/YourDetails">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">
                            Street
                            name
                        </label>
                        <input class="form-control "
                               formcontrolname="StreetName" asp-for="AddressLine1" type="text"
                               placeholder="Street name">
                        <span asp-validation-for="AddressLine1" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">
                            House
                            number
                        </label>
                        <input class="form-control"
                               formcontrolname="HouseNo" asp-for="AddressLine2" type="text"
                               placeholder="House number">
                        <span asp-validation-for="AddressLine2" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">
                            Postal
                            code
                        </label>
                        <input class="form-control" asp-for="PostalCode" value="@ViewBag.zipcode" disabled
                               type="text" placeholder="@ViewBag.zipcode">
                        <span asp-validation-for="PostalCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">City</label>
                        <select class="form-control " asp-for="City"
                                formcontrolname="City">
                            <option value="@ViewBag.City" selected>@ViewBag.City</option>
                            <span asp-validation-for="City" class="text-danger"></span>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">
                            Phone
                            number
                        </label>
                        <div class="input-group">
                            <span class="input-group-addon">+49</span>
                            <input class="form-control phone-number"
                                   formcontrolname="Mobile" asp-for="Mobile" name="Mobile" type="text"
                                   placeholder="Phone number" data-placeholder="Phone number">
                        </div>
                        <span asp-validation-for="Mobile" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <input class="btn btn-primary save" type="submit" value="Save">
            <button class="btn btn-primary cancel " data-toggle="collapse" type="button"
                    aria-expanded="false" data-target="#add-address">
                Cancel
            </button>
        </form>
    </div>
    <button class="btn btn-primary add-addressbtn" data-toggle="collapse" type="button"
            aria-expanded="false" data-target="#add-address">
        Add New Address
    </button>
  
</div>
<hr class="hr">
<script type="text/javascript">
    $(document).ready(function () {
        debugger
        $("#add-address form").data("validator", null);
        $.validator.unobtrusive.parse("#add-address form");

    });
</script>