################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Helperland_tatvasoft/Helperland/Helperland/.vs/Helperland
/Helperland_tatvasoft/Helperland/Helperland/Helperland/bin/Debug/netcoreapp3.1
/Helperland_tatvasoft/Helperland/Helperland/Helperland/obj
