################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


Helperland_tatvasoft/HTML/demo.html
