*{
  font-family: 'Roboto', sans-serif;
}

.main{
    background-image: url("assets/Landing-Page-background-image.png") ;
    /* width: 1560px; */
    /* height: 930px; */
    margin: 0px;
    padding: 0px;
}


/* adding margin padding to navbar */
.main .navbar{
    padding: 0px;
    padding-top: 10px;
    margin-left: 17px;
    margin-right: 6px;
}

/* logo margin padding removal */
.main .navbar-brand{
    margin: 0px;
    padding: 0px;
}

/* navlink property reset */
.main .nav-link{
    color: #fff!important;
    margin-right: 12px;
    margin-left: 10px;
}


/* button property reset */
.main .navbar .btn{
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 11px;
    height: 40px; 
    border-radius: 20px;
    border: solid 1px white;
    background: initial;
}


/* hover effect */
.mynav a:hover{
    color: black!important;
}
.mynav button:hover{
    color: black!important;
    border: solid 1px black;
}

.jumbotron{
    margin: 0px;
    padding: 0px;
    margin-top: 190px;
    margin-left: 58px;
        background: initial;
        font-family: Roboto; 
        color: #fff;
    
} 
.jumbotron .row{
    padding-top: 157px;
    padding-left: 312px;
    padding-right: 304px;
}
.jumbotron .btn{
    color: #fff;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    margin-right: 11px;
    height: 54px;
    font-size: 18px; 
    border-radius: 27px;
    border: solid 1px white;
    background-color: #006072
}

.jumbotron .display-4{
    padding-bottom: 8px;
    font-size: 50px;
    
}
.jumbotron .lead{
    font-size: 16px;
}

.Rounded-Rectangle-6-copy-5 {
    width: 225px;
    height: 54px;
    margin: 16px 7px 157px 0;
    padding: 18px 33px 22px 31px;
    border-radius: 27px;
    border: solid 1px var(--white);
    background-color: #006072;
  }

.why-helperland .display-4{
    margin-bottom: 84.5px;
    margin-top: 87px;
    color: #4f4f4f;
    font-size: 40px;
    font-weight: bold;
}

.why-helperland h2{
    font-weight: bold;
    
    color: #4f4f4f;
    padding-left: 10px;
    padding-bottom: 31px;
}
.why-helperland p{
    
    padding-left: 42px;
    padding-right: 42px;
    color: #565656;
    text-align: center;
    font-size: 17px;
}
.why-helperland .rounded-circle{
    
    padding-bottom: 38.5px;
}
.why-helperland .row{
    
    padding-bottom: 156px;
}
.our-blog{
    background-image: url("assets/blog-left-bg.png") ,url("assets/blog-right-bg.png");
    background-position: left, right;
    background-repeat: no-repeat;
}
/* .blog{
    background-image: url("assets/blog-right-bg.png");
    background-repeat: no-repeat;
    background-position: right;
} */
.our-blog h2{
    font-weight: bold;
    color: #565656;
}
.our-blog .display-4{
    padding-bottom: 66px;
    font-weight: bold;
    color: #565656;

}

.our-blog .col-md-7 {
    width: 376px;
}

.our-blog .card-title{
    margin: 0px;
    font-weight: bold;
}
.our-blog .date{
    margin: 0px;
}
.our-blog .card-deck .link{
font-size: 18px;
color: #4F4F4F;
text-align: left;
height: 21px;
/* border: 0px;
padding: 0px; */
}
.what-our-customer-say .rounded-circle{
height: 70px;
width: 70px;
margin-top: 43px;
margin-left: 38px;
margin-bottom: 5px
}

.what-our-customer-say .card-title{
    padding-top: 55.1px;
    color: #4F4F4F;
    
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.what-our-customer-say .card{
    border-left: 4px solid #517dcf;
}
.what-our-customer-say .display-4{
    padding-top: 57.01px;
    padding-bottom: 56.99px;
    color: #4F4F4F;
}
.what-our-customer-say .card-body .card-text{
    margin-left: 18px;
    color: #4F4F4F;
}
.what-our-customer-say .card-deck{
    
    margin-left: 201px;
    margin-right: 201px;
}

/* .what-our-customer-say .container-fluid{
    margin: 0px;
    padding: 0px;
} */

.what-our-customer-say h5{
    padding-bottom: 16px;
    padding-top: 49.67px;
    font-weight: bold;
    color: #353548;
}
.get-our-newsletter h5{
    font-size: 18px;
    padding-bottom: 16px;
    padding-top: 49.67px;
    font-weight: bold;
    color: #353548;
}
.what-our-customer-say .email{
    background: #F4F5F8;
    border: 1px solid #565656;
    border-radius: 20px;
    width: 233px;
    height: 40px;
    TEXT-ALIGN: LEFT;
}
.what-our-customer-say .btn{
background: #FF7B6D 0% 0% no-repeat padding-box;
border-radius: 20px;
width: 88px;
height: 40px;
color: #FFFFFF;
margin-left: 11px;
}
.get-our-newsletter .btn{
background: #FF7B6D 0% 0% no-repeat padding-box;
border-radius: 20px;
width: 88px;
height: 40px;
color: #FFFFFF;
margin-left: 11px;
}

.footer .one{
    /* height: 131.01px;  */
    
    background-color: #111111;
}
.faq-footer .one{
    /* height: 131.01px;  */
    
    background-color: #111111;
}
.footer .two{
    /* height: 63.99px;  */
    background-color: #292929;
}
.faq-footer .two{
    /* height: 63.99px;  */
    background-color: #111111;
}
.footer .navbar-brand{
    margin-left: 99px;
    margin-top: 12px;

}
.faq-footer .navbar-brand{
    margin-left: 99px;
    margin-top: 12px;

}
.footer .socialmedia{
    margin-right: 10px;
    margin-left: 10px;

}
.faq-footer .socialmedia{
    margin-right: 10px;
    margin-left: 10px;

}

.footer .nav-link{
    color: #fff;
}

.faq-footer .nav-link{
    color: #fff;
}
.footer .two p{
    padding-top: 23.49px;
    text-align: center;
    color: #F1F1F1;
}

.faq-footer .two p{
    padding-top: 23.49px;
    text-align: center;
   color: #9BA0A3;
}

.footer .two .btn{
    /* padding-top: 12px; */
    width: 99px;
    height: 40px;
    background: #EED507 0% 0% no-repeat padding-box;
    border-radius: 20px;
}
.header .navbar{
    background-color: #646464;
    margin: 0px;
    padding: 0;
    padding-top: 6px;
    padding-bottom: 4px;
    padding-right: 15px;
    padding-left: 15px;
}
.header .btn{
    background: #29626D 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF80;
    border-radius: 20px;
    font-size: 17px;
    font-family: Roboto;
    color: #FFFFFF;
    padding-left: 19.325px;
    padding-right: 19.325px;
    margin-right: 5px;
    margin-left: 5px
}
.header .nav-link{
    color: #FFFFFF!important;
    margin-left: 14px;
    margin-right: 22px;
}
/* .header .container-fluid .row{
    height: 370px;
    background-image: url("assets/faq-banner.png") ;
} */
@media only screen and (max-width: 1401px) {
    .arrow {
      display: none;
    }
  }
  @media (min-width: 1200px) {
    .container {
        padding: 0px;
        max-width: 931px;
     }
  }

  @media (max-width: 997px) {
    .card-deck {
        -webkit-box-orient: vertical;
        flex-direction: column;
     }
  }
  /* @media (min-width: 1400px) {
    .faq .para {
       max-width: 498px;
     }
  } */
  .accordion strong{
      padding-left: 15px;
      color: #646464;;
  }
  
  .accordion-container{
      margin-top: 16px;
  }
  .accordion-item{
      border: 0px;
  }
  .accordion-body{
    padding-left: 46px;
    padding-right: 46px;
    font-size: 16px;
    color: #646464;
    font-family: roboto;
  }
  .accordion-header .button{
    font-size: 16px;
    border: 0;
    background: white;
  }
  .header .accordion-item{
    border: 0px;
  }
  .get-our-newsletter .email{
    background: #F4F5F8;
    border: 1px solid #565656;
    border-radius: 20px;
    width: 233px;
    height: 40px;
    TEXT-ALIGN: LEFT;
}
.faq-image .img-fluid{
    padding: 0px;
}

.faq h5{
    /* text-align: center; */
    font-size: 35.95px;
    color: #4F4F4F;
    font-weight: bold;
    padding-top: 32px;
}

.faq-content .btn{
    border-radius: 0px;
}
.faq-content .customer-btn{
    border: 0px;
    /* height: 66px; */
    font-size: 24px;
    background-color: #1d7a8c;
}
.faq-content .service-btn{
    border: 0px;
    /* height: 66px; */
    font-size: 24px;
    background-color: #f6f6f6;
    color: #646464;
   
}


/* price page css */


  
  #seprator {
    height: 25px;
    width: 24px;
    margin: 0px 9px;
  }

/* section 2 */

#price-section2 .row1{
    margin-top: 31px;
  }
  
  #price-section2 .title{
    font-size: 35.95px;
    font-weight: 500;
    color: #4F4F4F;
  }
  
  #price-section2 .row2 {
    margin-top: 9px;
  }
  
  #price-section2 .line {
    margin: auto 0px;
    height: 1px;
    width: 62px;
    background: #cccccc;
  }
  
  #price-section2 .row3{
    margin-top: 42px;
    /* max-width: 35.45%; */
    max-width: 553px;
    border: 1px solid #B0C9CE;
  }
  
  #price-section2 .row3 .subrow1{
    background: #1D7A8C;
    /* justify-self: center; */
    padding: 12px 0px;
  }
  
  #price-section2 .title-white{
    font-size: 28px;
    font-weight: 700;
    color: white;
  
  }
  
  #price-section2 .row3 .subrow2 .div1{
    margin-top: 29px;
  }
  
  #price-section2 .row3 .subrow2 .sub-title1{
    font-size: 48px;
    font-weight: 400;
    color: #646464;
  }
  
  #price-section2 .row3 .subrow2 .sub-title2{
    font-size: 48px;
    font-weight: 700;
    color: #646464;
  }
  
  #price-section2 .row3 .subrow2 .sub-title3{
    font-size: 30px;
    font-weight: 400;
    color: #646464;
    padding-top: 20px;
  }
  
  #price-section2 .row3 .subrow2 .div2{
    margin-top: 30px;
    padding-bottom: 10px;
  }
  
  #price-section2 .row3 .subrow2 .div2 .container{
    max-width: 300px;
    margin-bottom: 24px;
  }
  
  #price-section2 .row3 .subrow2 .div2 .price-text{
      font-size: 16px;
      font-weight: 400;
      color: #646464;
      margin-left: 9px;
  }
  
  #price-section2 .row4{
    margin-top: 51px;
    margin-bottom: 56px;
    max-width: 1140px;
    border-top: 1px solid #CCCCCC;
  }
  
  #price-section2 .row4 .subrow1{
    margin-top: 41px;
  }
  
  #price-section2 .row4 .subrow3{
    margin-top: 39px;
  }
  
  #price-section2 .row4 .service-card{
    width: 108px;
  }
  
  #price-section2 .row4 .service-card-img{
      height: 108px;
      width: 108px;
      border: 1px solid #B0C9CE;
      border-radius: 50%;
      margin: 0px auto;
      position: relative;
  }
  #contact-section2 .row4 .service-card-img{
      height: 108px;
      width: 108px;
      /* border: 1px solid #B0C9CE;
      border-radius: 50%; */
      margin: 0px auto;
      position: relative;
  }
  
  #price-section2 .row4 .service-card-img img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  
  #price-section2 .row4 .service-text{
    font-size: 16px;
    font-weight: 400;
    color: #646464;
  }
  
  #price-section2 .row4 .service-card-body{
    margin-top: 9px;
  }
  
  #price-section2 .row4 .service-text2{
    margin-top: 5;
    font-size: 18px;
    font-weight: 700;
    color: #1D7A8C;
  }
  
  
  
  
  
  /* section 2 */
  
  
  
  /* section 3 */
  
  #price-section3 {
    background: #F6F6F6;
    padding-top: 73px;
    padding-bottom: 78px;
  }
  
  #price-section3 .row2{
    margin-top: 9px;
  }
  
  #price-section3 .title{
    font-size: 35.95px;
    font-weight: 500;
    color: #4F4F4F;
  }
  
  #price-section3 .line {
    margin: auto 0px;
    height: 1px;
    width: 62px;
    background: #cccccc;
  }
  
  #price-section3 .row3{
    margin-top: 42px;
  }
  
  #price-section3 .bold-text{
    font-size: 20px;
    font-weight: 700;
    color: #4F4F4F;
  }
  
  #price-section3 .row3 .sub-head{
    margin-top: 20px;
    margin-bottom: 19px;
  }
  
  #price-section3 .row3 .cards{
    max-width: 365px;
    margin-left: 15px;
    margin-right: 15px;
  }
  
  #price-section3 .row3 .cards-img{
    max-width: 360px;
    max-height: 210px;
  }
  
  
  #price-section3 .normal-text{
    font-size: 16px;
    font-weight: 400;
    color: #4F4F4F;
  }
  
  @media (max-width:373px){
  
    #price-section3 .row3 .img-arrow{
      display: none;
  
    }
  
  }
  
  
  /* section 3 */
  
  
  
  /* section 4 */
  
  #price-section4 .row1{
    margin-top: 71px;
  }
  
  #price-section4 .title{
    font-size: 35.95px;
    font-weight: 500;
    color: #4F4F4F;
  }
  
  #price-section4 .row2{
    margin-top: 9px;
  }
  
  #price-section4 .line {
    margin: auto 0px;
    height: 1px;
    width: 62px;
    background: #cccccc;
  }
  
  #price-section4 .row3{
    margin-top: 41px;
  }
  
  #price-section4 .bold-text{
    max-width: 380px;
    font-size: 20px;
    font-weight: 700;
    color: #4F4F4F;
  }
  
  #price-section4 .row3 .div1{
    margin-top: 9px;
    max-width: 309px;
    min-height: 84px;
  }
  
  #price-section4 .row3 .div2{
    margin-top: 9px;
    max-width: 299px;
  }
  
  #price-section4 .al-end{
    text-align: end;
  }
  
  #price-section4 .m-top-14{
    margin-top: 14.5px;
  }
  
  #price-section4 .normal-text{
    font-size: 14px;
    font-weight: 400;
    color: #4F4F4F;
  }
  
  @media (max-width:992px){
  
    #price-section4 .bold-text{
      max-width: 100%;
      text-align: center;
    }
  
    #price-section4 .row3 .div1{
      max-width: 100%;
      text-align: center;
      min-height: auto;
    }
  
    #price-section4 .row3 .div2{
      max-width: 100%;
      text-align: center;
  
    }
  
    #price-section4 .row3 .best-img{
      margin-top: 10px;
      margin-bottom: 10px;
    }
  
  }
   
  #price-section4 .row3 .col-fix{
      max-width: 664px;
    }

  
  
  /* section 4 */
  
  
  
  
  
  
  #price-section5 #row1 {
    margin-top: 40px;
  }
  
  #price-section5 #row1 .container-fluid {
    margin-bottom: 53px;
  }
  
  #price-section5 #sub-row2{
    margin-top: 16px;
  }
  
  #price-section5 .btn {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: #ff7b6d;
    border-radius: 20px;
    height: 40px;
    width: 88px;
    color: white;
    margin-left: -2px;
  }
  
  #price-section5 .form-control {
    font-family: "Roboto", sans-serif;
    border: 1px solid #565656;
    border-radius: 20px;
    background: transparent;
    width: 233px;
    height: 40px;
    color: #565656;
    font-size: 14px;
    font-weight: 400;
    margin-right: -2px;
  }
  
  #price-section5 .title {
    color: #353548;
    font-size: 18px;
    font-weight: 700;
  }
  
  #price-section5 .foma-container{
    background: #525252;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    position: relative;
    margin: auto auto;
  }
  
  #price-section5 .foma-5{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  @media (max-width: 576px) {
    #price-section5 .newletter-input{
      display: flex;
      justify-content: center;
    }
  
    #price-section5 #row1 .container-fluid {
      margin-bottom: 10px;
    }
  }
  
  /*-------------- price page --------------*/


  /* contact us page */
  .touch-with-us{
  text-align: center;
    font-size: 28px;
    font-style: bold;
    font-weight: 700;
    color: #4F4F4F;
    padding-top: 80px;
    
    border-top: 1px solid #CCCCCC;
  }

  .touch-with-us .row2 .row{
    margin-top: 15px;
  }
  
  .touch-with-us .submitbtn{

    background: #1D7A8C;
    color: #FFFFFF;
    padding-left: 50px;
    PADDING-RIGHT: 50PX;
    BORDER-RADIUS: 23PX;
    FONT-SIZE: 23PX;
    margin-bottom: 80px;
  }
  .gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 400px;
    width: 100%;
  }


  /* become-a-provider */

  #become-a-provider {
    background-image: url("assets/become-a-pro-banner.png") ;
    /* width: 1560px; */
    /* height: 930px; */
    margin: 0px;
    padding: 0px;
    padding-bottom: 114px;
}

#register-form{
  background-color: #FFFFFF;
  max-width: 430px;
  margin-top: 10px;
  border-radius: 2px;
}

#register-form .row1{
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
  color: #4F4F4F;
  padding-top: 19px;
}



#register-form .formgroup{
  margin-bottom: 15px;
}

  #register-form .subrow2{
  width: 100%;
  margin-left: 35px;
  margin-right: 35px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #A0A0A0!important;
  padding: 10px;
}

#register-form .row9{
  justify-content: center;
  padding-bottom: 19px;

}
#register-form .btn{
  border: 1px solid #1D7A8C;
  background: #1D7A8C;
  border-radius: 23px;
  padding-left: 27px;
  padding-right: 57px;
  color: #FFFFFF;
  font-size: 16px;
}
#register-form .checkbox{
  
  width: 20px;
  height: 20px;
  margin-left: 35px;
}

#become-a-provider-section2 .how-it-works{
  background-image: url("assets/blog-left-bg.png") ,url("assets/blog-right-bg.png");
  background-position: left, right;
  background-repeat: no-repeat;
}


#become-a-provider-section2 .row1{
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 40px;

}


#become-a-provider-section2 .part1 {
  float: left;
}

#become-a-provider-section2 .part2 {
  float: right;
}

#become-a-provider-section2 .subpart{
  margin-top: 54px;
  margin-bottom: 54px;
}

#become-a-provider-section2 .content {
  font-size: 18px;
}

/* #become-a-provider-section2 .image{
  border-radius: 260px;
} */
#become-a-provider-section2 .title{
  
  font-size: 40px;
  font-weight: 700;
  color: #4f4f4f;
  margin-bottom: 0px;
}



/* service provider  */

#service-provider .notification{
  color: white;
  border-left: solid;
  border-right: solid;
}

#service-provider-section2 {
  background: #F9F9F9;
  padding-top: 38px;
  padding-bottom: 28px;
}
#service-provider-section2 .row{
  text-align: center;
  color: #4F4F4F;
  
  font-size: 30px;
  
}

#service-provider-section3 .col1{
  max-width: 262px;
  margin-left: 15px;
  background-color: #1D7A8C;
  padding: 0px;
}
#service-provider-section3 {
  padding-bottom: 30px;
}
#service-provider-section3 .col2{
  max-width: 875px;
}
#service-provider-section3 .col2 .end{
  text-align: end;
}
#service-provider-section3 .col2 .end .pagination{
  display: inline-block;
}
#service-provider-section3 .col2 .end .pagination a{
  color: black;
  float: left;
  padding: 4px 12px;
  margin: 0px 5px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  border-radius: 360px;
}

#service-provider-section3 .col2 .end .pagination a.active{
    background-color: #1D7A8C;
    color: white;
}
#service-provider-section3 .row1{
  justify-content: center;
}
#service-provider-section3 .nav-tabs{
  background-color: #1D7A8C;
}
#service-provider-section3 .nav-tabs .active{
  
  border-top-left-radius: 0px; 
  border-top-right-radius: 0px;
  background-color: #146371;
}
#service-provider-section3 .nav-link{
  color: #FFFFFF;
}
#service-provider-section3 .nav-item{
  
  border-bottom: 1px solid rgba(255,255,255,.2);
}
#service-provider-section3 .table{
  
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6
}
#service-provider-section3 .table-success{
  color: #646464;
}
#service-provider-section3 .table-success th{
  background: #f9f9f9
}

#service-provider-section3 .date {
  list-style-image: url('assets/calendar2.png');
}
#service-provider-section3 .time {
  list-style-image: url('assets/layer-14.png');
}
#service-provider-section3 .name {
  list-style-type: none;
}
#service-provider-section3 .address {
  list-style-image: url('assets/layer-15.png');
}
#service-provider-section3 .customerdetails {
  padding-left: 26px;
  margin-bottom: 0px;
}
#service-provider-section3 .servicedate {
  padding-left: 22px;
  margin-bottom: 0px;
}
#service-provider-section3 .serviceid {
  
  vertical-align: middle;
}
#service-provider-section3 .distance {
  vertical-align: middle;
}
#service-provider-section3 .actions {
  vertical-align: middle;
}
#service-provider-section3 .actions .btn{
    border-radius: 17px;
    background: #FF6B6B;
    color: #FFFFFF;
}
 
#service-provider {
  display: block;
}

#sidebar .row1{
  padding: 8px 16px;
} 
#sidebar .row3{
  padding: 8px 16px;
} 
#sidebar .row4{
  text-align: center;
  padding: 8px 16px;
} 

#sidebar {
  background-color: white;
  margin-right: -250px;
  min-width: 250px;
  max-width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  /* top layer */
  z-index: 9999;
}
#sidebar.active{
  margin-right: -250px;

}

#service-provider .overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100%;
  top: 0%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  opacity: 0;
  
  transition: all 0.5s ease-in-out;
}


#service-provider .overlay.active {
  display: block;
  opacity: 1;
}


#service-provider #dismiss {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 10px;
  right: 10px;
}
#service-provider-section3 .bottom{
  justify-content: space-between;

}
@media (max-width: 767px) {
  #service-provider-section3 .col2 .table th{
    display: none;
  }

}
@media (max-width: 992px) {
  #sidebar {
    margin-right:-250px;
  }
  #sidebar.active {
    margin-right: 0px;
  }
  #service-provider-section3 .col1 {
    display: none;
  }
}


/* service provider  */



/* customer  */

#customer .notification{
  color: white;
  border-left: solid;
  border-right: solid;
}

#customer-section2 {
  background: #F9F9F9;
  padding-top: 38px;
  padding-bottom: 28px;
}
#customer-section2 .row{
  text-align: center;
  color: #4F4F4F;
  
  font-size: 30px;
  
}

#customer-section3 .col1{
  max-width: 262px;
  margin-left: 15px;
  background-color: #1D7A8C;
  padding: 0px;
}
#customer-section3 {
  padding-bottom: 30px;
}
#customer-section3 .col2{
  max-width: 875px;
}
#customer-section3 .col2 .end{
  text-align: end;
}
#customer-section3 .pagination{
  display: inline-block;
}
#customer-section3 .bottom{
  justify-content: space-between;

}
#customer-section3 .pagination a{
  color: black;
  float: left;
  padding: 4px 12px;
  margin: 0px 5px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  border-radius: 360px;
}

#customer-section3 .pagination a.active{
    background-color: #1D7A8C;
    color: white;
}
#customer-section3 .row1{
  justify-content: center;
}
#customer-section3 .nav-tabs{
  background-color: #1D7A8C;
}
#customer-section3 .nav-tabs .active{
  
  border-top-left-radius: 0px; 
  border-top-right-radius: 0px;
  background-color: #146371;
}
#customer-section3 .nav-link{
  color: #FFFFFF;
}
#customer-section3 .nav-item{
  
  border-bottom: 1px solid rgba(255,255,255,.2);
}
#customer-section3 .table{
  
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6
}
#customer-section3 .table-success{
  color: #646464;
}
#customer-section3 .table-success th{
  background: #f9f9f9
}

#customer-section3 .date {
  list-style-image: url('assets/calendar2.png');
}
#customer-section3 .time {
  list-style-image: url('assets/layer-14.png');
}
#customer-section3 .name {
  list-style-type: none;
}
/* #customer-section3 .address {
  list-style-image: url('assets/layer-15.png');
} */
/* #customer-section3 .customerdetails {
  padding-left: 26px;
  margin-bottom: 0px;
} */
#customer-section3 .servicedate {
  padding-left: 22px;
  margin-bottom: 0px;
}
#customer-section3 .serviceid {
  
  vertical-align: middle;
}
#customer-section3  .titletext {
  font-size: 22px;
    line-height: 36px;
    font-weight: 700;
    margin: 0;
  justify-content: space-between;
  vertical-align: middle;
  color: #646464;
}
#customer-section3 .col2 .cap-customer-history{
  border-radius: 50%;
  border: 1px black solid;
  padding: 10px 7px;
}

.cap-2{
  padding-right: 3px;
}
.cap-3{
  padding-left: 3px;
}

  
#customer-section3 .exportbtn .btn{
background: #1d7a8c;
border: none!important;

border-radius: 16px;
  padding: 6px 10px;
  font-size: 14px;
  margin-bottom: 10px;
  color:#fff;
  padding: 6px 10px;
  font-size: 14px;
  margin-bottom: 10px;}

#customer-section3 .table tbody {
  border-top: 0px solid currentColor;

}
#customer-section3 .payment {
  vertical-align: middle;
  
  color: #1d7a8c;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}
#customer-section3 .status{
  vertical-align: middle;
}
#customer-section3 .statustext{
  background: #FF6B6B;
  color: white;
  padding-left: 5px;
  margin-top: 16px;
  text-align: center;
}
#customer-section3 .ratesp {
  vertical-align: middle;
}
#customer-section3 .ratesp .btn{
    border-radius: 17px;
    background: #6DA9B5;
    color: #FFFFFF;
    
    width: 80px;
}
 
#customer {
  display: block;
}

#sidebar .row1{
  padding: 8px 16px;
} 
#sidebar .row3{
  padding: 8px 16px;
} 
#sidebar .row4{
  text-align: center;
  padding: 8px 16px;
} 

#sidebar {
  background-color: white;
  margin-right: -250px;
  min-width: 250px;
  max-width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  /* top layer */
  z-index: 9999;
}
#sidebar.active{
  margin-right: -250px;

}

#customer .overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100%;
  top: 0%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}


#customer .overlay.active {
  display: block;
  opacity: 1;
}


#customer #dismiss {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 10px;
  right: 10px;
}
#customer-section3 .col2 .bottom{
  justify-content: space-between;

}
@media (max-width: 767px) {
  #customer-section3 .col2 .table th{
    display: none;
  }

}
@media (min-width:992px) {
  #customer-section3 .col3 {
    display: none;
  }
}
@media (max-width: 992px) {
  #sidebar {
    margin-right:-250px;
  }
  #sidebar.active {
    margin-right: 0px;
  }
  #customer-section3 .col1 {
    display: none;
  }
  #customer-section3 .col2 {
    display: none;
  }
  #customer-section3 .col3 {
    display: block;
  }
  
}

#customer-section3 .col3 .container-fluid .frow{
  padding-left: 15px;
  padding-bottom: 15px;
  
}
#customer-section3 .col3 .container-fluid .row1{
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
  border-top: 1px solid #e1e1e1;
}
#customer-section3 .col3 .container-fluid .customerdet{
  border-top: 1px solid #e1e1e1;
  
  padding-bottom: 15px;
  padding-top: 15px;
  
}
#customer-section3 .col3 .container-fluid{
  margin-bottom: 15px;
  display: block;
  padding: 15px;
  box-shadow: 0 0 6px rgb(0 0 0 / 25%);
}

#footer {
  background: #111111;
  color: #ffffff;
}

.foot-text {
  
  font-size: 14px;
  font-weight: 400;
}

/* privacy-policy section */

 .privacy-policy {
  text-align: center;
  background: #111111;
  color: #9BA0A3;
} 

.privacy-policy a {
  color: #6eabef;
}
.privacy-policy  p {
  padding-top: 20px;
}
.privacy-policy p {
  font-size: 14px;
  font-weight: 400;
} 
/* #privacy-policy .btn {
  width: 99px;
  background-color: #eed507;
  border-radius: 20px;
  margin: 12px 0px;
  
} */
/* #privacy-policy .btn p {
  font-size: 16px;
  font-weight: 500;
  color: #4f4f4f;
} */
/* customer  */