@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Helperland.Models.User;
@using Microsoft.AspNetCore.Http;
@{
    Layout = "_Layout";
}



    <section class="container-fluid" id="customer-section2">
        <div class="row">
            <p>
                Welcome,

                <span>
                    @Context.Session.GetString("Name");
                </span>
                
            </p>
        </div>

    </section>

    <section class="container-fluid " id="customer-section3">
        <div class="row row1">
            <div class="col col1">
                <ul class="nav nav-tabs flex-column" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active " data-bs-toggle="tab" href="#dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " data-bs-toggle="tab" href="#servicehistory">Service history</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#serviceschedule">Service Schedule</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#favouritepros">Favourite pros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#invoices">Invoices</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#notification">Notification</a>
                    </li>
                </ul>

            </div>
            <div class="col col2">

                <div class="tab-content">
                    <div id="dashboard" class="container tab-pane active">
                        <div class="row titletext">
                            <div class="col-auto">

                                Dashboard
                            </div>
                            <div class="col-auto exportbtn">


                                <a class="btn" href="#">export</a>
                            </div>
                        </div>

                        <table class="table">
                            <thead class="table-success">
                                <tr>
                                <tr>
                                    <th>Service ID</th>
                                    <th>Service date </th>
                                    <th>Service Provider</th>
                                    <th>Payment</th>
                                    <th>Action</th>
                                </tr>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="serviceid">32346</td>
                                    <td>
                                        <ul class="servicedate">
                                            <li class="date">09/04/2018</li>
                                            <li class="time">12:00-18:00</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <div class="row cap-1">
                                            <div class="col-auto cap-2">
                                                <img src="~/assets/cap.png" alt="" class="cap-customer-history">
                                            </div>
                                            <div class="col-auto cap-3">
                                                Lyum Watson
                                                <br>
                                                <img src="~/assets/yellow-small-star.png" alt="">
                                                <img src="~/assets/yellow-small-star.png" alt="">
                                                <img src="~/assets/yellow-small-star.png" alt="">
                                                <img src="~/assets/yellow-small-star.png" alt="">
                                                <img src="~/assets/yellow-small-star.png" alt="">
                                                4
                                            </div>
                                        </div>



                                        <!-- David Bough
                                        <ul class="serviceprovider">
                                            <li class="address">Musterstrabe 5,12345 bonn</li>
                                        </ul> -->
                                    </td>
                                    <td class="payment">€63</td>
                                    <td class="ratesp"><a class="btn" href="#">Rate SP</a></td>
                                </tr>



                            </tbody>
                            <tbody>
                                <tr>
                                    <td class="serviceid">32346</td>
                                    <td>
                                        <ul class="servicedate">
                                            <li class="date">09/04/2018</li>
                                            <li class="time">12:00-18:00</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <div class="row cap-1">
                                            <div class="col-auto cap-2">
                                                <img src="~/assets/cap.png" alt="" class="cap-customer-history">
                                            </div>
                                            <div class="col-auto cap-3">
                                                Lyum Watson
                                                <br>
                                                <img src="~/assets/yellow-small-star.png" alt="">
                                                <img src="~/assets/yellow-small-star.png" alt="">
                                                <img src="~/assets/yellow-small-star.png" alt="">
                                                <img src="~/assets/yellow-small-star.png" alt="">
                                                <img src="~/assets/yellow-small-star.png" alt="">
                                                4
                                            </div>
                                        </div>



                                        <!-- David Bough
                                        <ul class="serviceprovider">
                                            <li class="address">Musterstrabe 5,12345 bonn</li>
                                        </ul> -->
                                    </td>
                                    <td class="payment">€63</td>
                                    <td class="ratesp"><a class="btn" href="#">Rate SP</a></td>
                                </tr>



                            </tbody>
                            <tbody>
                                <tr>
                                    <td class="serviceid">32346</td>
                                    <td>
                                        <ul class="servicedate">
                                            <li class="date">09/04/2018</li>
                                            <li class="time">12:00-18:00</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <div class="row cap-1">
                                            <div class="col-auto cap-2">
                                                <img src="~/assets/cap.png" alt="" class="cap-customer-history">
                                            </div>
                                            <div class="col-auto cap-3">
                                                Lyum Watson
                                                <br>
                                                <img src="~/assets/yellow-small-star.png" alt="">
                                                <img src="~/assets/yellow-small-star.png" alt="">
                                                <img src="~/assets/yellow-small-star.png" alt="">
                                                <img src="~/assets/yellow-small-star.png" alt="">
                                                <img src="~/assets/yellow-small-star.png" alt="">
                                                4
                                            </div>
                                        </div>



                                        <!-- David Bough
                                        <ul class="serviceprovider">
                                            <li class="address">Musterstrabe 5,12345 bonn</li>
                                        </ul> -->
                                    </td>
                                    <td class="payment">€63</td>
                                    <td class="ratesp"><a class="btn" href="#">Rate SP</a></td>
                                </tr>



                            </tbody>
                        </table>
                        <div class="row bottom">

                            <div class="col-auto">
                                <p>
                                    show
                                    <input type="number" id="quantity" name="quantity" min="1" max="5">
                                    Entries total record: 1
                                </p>
                            </div>
                            <div class="end col-auto">

                                <div class="pagination">
                                    <a href="#"><img src="~/assets/first-page.png" alt=""></a>
                                    <a href="#"><img src="~/assets/keyboard-right-arrow-button-copy.png" alt=""></a>
                                    <a href="#" class="active">1</a>
                                    <a href="#"><img src="~/assets/keyboard-left-arrow-button-copy.png" alt=""></a>
                                    <a href="#"><img src="~/assets/last-page.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="serviceschedule" class="container tab-pane fade">
                        <table class="table">
                            <thead class="table-success">
                                <tr>
                                    <th>Firstname</th>
                                    <th>Lastname</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>John</td>
                                    <td>Doe</td>
                                    <td>john@example.com</td>
                                </tr>
                                <tr>
                                    <td>Mary</td>
                                    <td>Moe</td>
                                    <td>mary@example.com</td>
                                </tr>
                                <tr>
                                    <td>July</td>
                                    <td>Dooley</td>
                                    <td>july@example.com</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="servicehistory" class="container tab-pane fade">
                        <div class="row titletext">
                            <div class="col-auto">

                                Service History
                            </div>
                            <div class="col-auto exportbtn">


                                <a class="btn" href="#">export</a>
                            </div>
                        </div>
                        <table class="table">
                            <thead class="table-success">
                                <tr>
                                    <th>Service ID</th>
                                    <th>Service date </th>
                                    <th>Service Provider</th>
                                    <th>Payment</th>
                                    <th>status</th>
                                    <th>Rate SP</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="serviceid">32346</td>
                                    <td>
                                        <ul class="servicedate">
                                            <li class="date">09/04/2018</li>
                                            <li class="time">12:00-18:00</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <div class="row cap-1">
                                            <div class="col-auto cap-2">
                                                <img src="~/assets/cap.png" alt="" class="cap-customer-history">
                                            </div>
                                            <div class="col-auto cap-3">
                                                Lyum Watson
                                                <br>
                                                <img src="~/assets/yellow-small-star.png" alt="">
                                                <img src="~/assets/yellow-small-star.png" alt="">
                                                <img src="~/assets/yellow-small-star.png" alt="">
                                                <img src="~/assets/yellow-small-star.png" alt="">
                                                <img src="~/assets/yellow-small-star.png" alt="">
                                                4
                                            </div>
                                        </div>



                                        <!-- David Bough
                                        <ul class="serviceprovider">
                                            <li class="address">Musterstrabe 5,12345 bonn</li>
                                        </ul> -->
                                    </td>
                                    <td class="payment">€63</td>
                                    <td class="status">
                                        <p class="statustext">

                                            cancelled
                                        </p>
                                    </td>
                                    <td class="ratesp"><a class="btn" href="#">Rate SP</a></td>
                                </tr>



                            </tbody>
                            <tbody>
                                <tr>
                                    <td class="serviceid">32346</td>
                                    <td>
                                        <ul class="servicedate">
                                            <li class="date">09/04/2018</li>
                                            <li class="time">12:00-18:00</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <div class="row cap-1">
                                            <div class="col-auto cap-2">
                                                <img src="~/assets/cap.png" alt="" class="cap-customer-history">
                                            </div>
                                            <div class="col-auto cap-3">
                                                Lyum Watson
                                                <br>
                                                <img src="~/assets/yellow-small-star.png" alt="">
                                                <img src="~/assets/yellow-small-star.png" alt="">
                                                <img src="~/assets/yellow-small-star.png" alt="">
                                                <img src="~/assets/yellow-small-star.png" alt="">
                                                <img src="~/assets/yellow-small-star.png" alt="">
                                                4
                                            </div>
                                        </div>



                                        <!-- David Bough
                                        <ul class="serviceprovider">
                                            <li class="address">Musterstrabe 5,12345 bonn</li>
                                        </ul> -->
                                    </td>
                                    <td class="payment">€63</td>
                                    <td class="status">
                                        <p class="statustext">

                                            cancelled
                                        </p>
                                    </td>
                                    <td class="ratesp"><a class="btn" href="#">Rate SP</a></td>
                                </tr>



                            </tbody>
                            <tbody>
                                <tr>
                                    <td class="serviceid">32346</td>
                                    <td>
                                        <ul class="servicedate">
                                            <li class="date">09/04/2018</li>
                                            <li class="time">12:00-18:00</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <div class="row cap-1">
                                            <div class="col-auto cap-2">
                                                <img src="~/assets/cap.png" alt="" class="cap-customer-history">
                                            </div>
                                            <div class="col-auto cap-3">
                                                Lyum Watson
                                                <br>
                                                <img src="~/assets/yellow-small-star.png" alt="">
                                                <img src="~/assets/yellow-small-star.png" alt="">
                                                <img src="~/assets/yellow-small-star.png" alt="">
                                                <img src="~/assets/yellow-small-star.png" alt="">
                                                <img src="~/assets/yellow-small-star.png" alt="">
                                                4
                                            </div>
                                        </div>



                                        <!-- David Bough
                                        <ul class="serviceprovider">
                                            <li class="address">Musterstrabe 5,12345 bonn</li>
                                        </ul> -->
                                    </td>
                                    <td class="payment">€63</td>
                                    <td class="status">
                                        <p class="statustext">

                                            cancelled
                                        </p>
                                    </td>
                                    <td class="ratesp"><a class="btn" href="#">Rate SP</a></td>
                                </tr>



                            </tbody>
                            <tbody>
                                <tr>
                                    <td class="serviceid">32346</td>
                                    <td>
                                        <ul class="servicedate">
                                            <li class="date">09/04/2018</li>
                                            <li class="time">12:00-18:00</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <div class="row cap-1">
                                            <div class="col-auto cap-2">
                                                <img src="~/assets/cap.png" alt="" class="cap-customer-history">
                                            </div>
                                            <div class="col-auto cap-3">
                                                Lyum Watson
                                                <br>
                                                <img src="~/assets/yellow-small-star.png" alt="">
                                                <img src="~/assets/yellow-small-star.png" alt="">
                                                <img src="~/assets/yellow-small-star.png" alt="">
                                                <img src="~/assets/yellow-small-star.png" alt="">
                                                <img src="~/assets/yellow-small-star.png" alt="">
                                                4
                                            </div>
                                        </div>



                                        <!-- David Bough
                                        <ul class="serviceprovider">
                                            <li class="address">Musterstrabe 5,12345 bonn</li>
                                        </ul> -->
                                    </td>
                                    <td class="payment">€63</td>
                                    <td class="status">
                                        <p class="statustext">

                                            cancelled
                                        </p>
                                    </td>
                                    <td class="ratesp"><a class="btn" href="#">Rate SP</a></td>
                                </tr>



                            </tbody>
                            <tbody>
                                <tr>
                                    <td class="serviceid">32346</td>
                                    <td>
                                        <ul class="servicedate">
                                            <li class="date">09/04/2018</li>
                                            <li class="time">12:00-18:00</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <div class="row cap-1">
                                            <div class="col-auto cap-2">
                                                <img src="~/assets/cap.png" alt="" class="cap-customer-history">
                                            </div>
                                            <div class="col-auto cap-3">
                                                Lyum Watson
                                                <br>
                                                <img src="~/assets/yellow-small-star.png" alt="">
                                                <img src="~/assets/yellow-small-star.png" alt="">
                                                <img src="~/assets/yellow-small-star.png" alt="">
                                                <img src="~/assets/yellow-small-star.png" alt="">
                                                <img src="~/assets/yellow-small-star.png" alt="">
                                                4
                                            </div>
                                        </div>



                                        <!-- David Bough
                                        <ul class="serviceprovider">
                                            <li class="address">Musterstrabe 5,12345 bonn</li>
                                        </ul> -->
                                    </td>
                                    <td class="payment">€63</td>
                                    <td class="status">
                                        <p class="statustext">

                                            cancelled
                                        </p>
                                    </td>
                                    <td class="ratesp"><a class="btn" href="#">Rate SP</a></td>
                                </tr>



                            </tbody>
                        </table>
                        <div class="row bottom">

                            <div class="col-auto">
                                <p>
                                    show
                                    <input type="number" id="quantity" name="quantity" min="1" max="5">
                                    Entries total record: 1
                                </p>
                            </div>
                            <div class="end col-auto">

                                <div class="pagination">
                                    <a href="#"><img src="~/assets/first-page.png" alt=""></a>
                                    <a href="#"><img src="~/assets/keyboard-right-arrow-button-copy.png" alt=""></a>
                                    <a href="#" class="active">1</a>
                                    <a href="#"><img src="~/assets/keyboard-left-arrow-button-copy.png" alt=""></a>
                                    <a href="#"><img src="~/assets/last-page.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="Favouritepros" class="container tab-pane fade">
                        <table class="table">
                            <thead class="table-success">
                                <tr>
                                    <th>Service ID</th>
                                    <th>Service date </th>
                                    <th>Customer details</th>
                                    <th>Distance</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="serviceid">32346</td>
                                    <td>
                                        <ul class="servicedate">
                                            <li class="date">09/04/2018</li>
                                            <li class="time">12:00-18:00</li>
                                        </ul>
                                    </td>
                                    <td>
                                        David Bough
                                        <ul class="customerdetails">
                                            <li class="address">Musterstrabe 5,12345 bonn</li>
                                        </ul>
                                    </td>
                                    <td class="distance">15km</td>
                                    <td class="actions"><a class="btn" href="#">cancel</a></td>
                                </tr>
                                <tr>
                                    <td class="serviceid">32346</td>
                                    <td>
                                        <ul class="servicedate">
                                            <li class="date">09/04/2018</li>
                                            <li class="time">12:00-18:00</li>
                                        </ul>
                                    </td>
                                    <td>
                                        David Bough
                                        <ul class="customerdetails">
                                            <li class="address">Musterstrabe 5,12345 bonn</li>
                                        </ul>
                                    </td>
                                    <td class="distance">15km</td>
                                    <td class="actions"><a class="btn" href="#">cancel</a></td>
                                </tr>
                                <tr>
                                    <td class="serviceid">32346</td>
                                    <td>
                                        <ul class="servicedate">
                                            <li class="date">09/04/2018</li>
                                            <li class="time">12:00-18:00</li>
                                        </ul>
                                    </td>
                                    <td>
                                        David Bough
                                        <ul class="customerdetails">
                                            <li class="address">Musterstrabe 5,12345 bonn</li>
                                        </ul>
                                    </td>
                                    <td class="distance">15km</td>
                                    <td class="actions"><a class="btn" href="#">cancel</a></td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="col col3">
                <div class="tab-content">

                    <div id="dashboard-sid" class="container tab-pane active">
                        <div class="row titletext">
                            <div class="col-auto">
                                Dashboard
                            </div>
                            <div class="col-auto exportbtn">


                                <a class="btn" href="#">export</a>
                            </div>
                        </div>

                        <div class="container-fluid">


                            <div class="row frow">
                                32346
                            </div>
                            <div class="row row1">
                                <ul class="servicedate">
                                    <li class="date">09/04/2018</li>
                                    <li class="time">12:00-18:00</li>
                                </ul>
                            </div>
                            <div class="row customerdet">
                                <div class="row cap-1">
                                    <div class="col-auto cap-2">
                                        <img src="~/assets/cap.png" alt="" class="cap-customer-history">
                                    </div>
                                    <div class="col-auto cap-3">
                                        Lyum Watson
                                        <br>
                                        <img src="~/assets/yellow-small-star.png" alt="">
                                        <img src="~/assets/yellow-small-star.png" alt="">
                                        <img src="~/assets/yellow-small-star.png" alt="">
                                        <img src="~/assets/yellow-small-star.png" alt="">
                                        <img src="~/assets/yellow-small-star.png" alt="">
                                        4
                                    </div>
                                </div>
                            </div>
                            <div class="row row1 payment">
                                €63
                            </div>
                            <div class="row row1">
                                <p class="statustext">

                                    cancelled
                                </p>
                            </div>
                            <div class="row row1 ratesp">
                                <a class="btn" href="#">Rate SP</a>
                            </div>

                        </div>
                        <div class="container-fluid">

                            <div class="row frow">
                                32346
                            </div>
                            <div class="row row1">
                                <ul class="servicedate">
                                    <li class="date">09/04/2018</li>
                                    <li class="time">12:00-18:00</li>
                                </ul>
                            </div>
                            <div class="row customerdet">
                                <div class="row cap-1">
                                    <div class="col-auto cap-2">
                                        <img src="~/assets/cap.png" alt="" class="cap-customer-history">
                                    </div>
                                    <div class="col-auto cap-3">
                                        Lyum Watson
                                        <br>
                                        <img src="~/assets/yellow-small-star.png" alt="">
                                        <img src="~/assets/yellow-small-star.png" alt="">
                                        <img src="~/assets/yellow-small-star.png" alt="">
                                        <img src="~/assets/yellow-small-star.png" alt="">
                                        <img src="~/assets/yellow-small-star.png" alt="">
                                        4
                                    </div>
                                </div>
                            </div>
                            <div class="row row1 payment">
                                €63
                            </div>
                            <div class="row row1">
                                <p class="statustext">

                                    cancelled
                                </p>
                            </div>
                            <div class="row row1 ratesp">
                                <a class="btn" href="#">Rate SP</a>
                            </div>
                        </div>
                        <div class="row bottom">

                            <div class="col-auto">
                                <p>
                                    show
                                    <input type="number" id="quantity" name="quantity" min="1" max="5">
                                    Entries total record: 1
                                </p>
                            </div>
                            <div class="end col-auto">

                                <div class="pagination">
                                    <a href="#"><img src="~/assets/first-page.png" alt=""></a>
                                    <a href="#"><img src="~/assets/keyboard-right-arrow-button-copy.png" alt=""></a>
                                    <a href="#" class="active">1</a>
                                    <a href="#"><img src="~/assets/keyboard-left-arrow-button-copy.png" alt=""></a>
                                    <a href="#"><img src="~/assets/last-page.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="servicehistory-sid" class="container tab-pane fade">
                        <div class="row titletext">
                            <div class="col-auto">

                                Service History
                            </div>
                            <div class="col-auto exportbtn">


                                <a class="btn" href="#">export</a>
                            </div>
                        </div>

                        <div class="container-fluid">


                            <div class="row frow">
                                32346
                            </div>
                            <div class="row row1">
                                <ul class="servicedate">
                                    <li class="date">09/04/2018</li>
                                    <li class="time">12:00-18:00</li>
                                </ul>
                            </div>
                            <div class="row customerdet">
                                <div class="row cap-1">
                                    <div class="col-auto cap-2">
                                        <img src="~/assets/cap.png" alt="" class="cap-customer-history">
                                    </div>
                                    <div class="col-auto cap-3">
                                        Lyum Watson
                                        <br>
                                        <img src="~/assets/yellow-small-star.png" alt="">
                                        <img src="~/assets/yellow-small-star.png" alt="">
                                        <img src="~/assets/yellow-small-star.png" alt="">
                                        <img src="~/assets/yellow-small-star.png" alt="">
                                        <img src="~/assets/yellow-small-star.png" alt="">
                                        4
                                    </div>
                                </div>
                            </div>
                            <div class="row row1 payment">
                                €63
                            </div>
                            <div class="row row1">
                                <p class="statustext">

                                    cancelled
                                </p>
                            </div>
                            <div class="row row1 ratesp">
                                <a class="btn" href="#">Rate SP</a>
                            </div>

                        </div>
                        <div class="container-fluid">

                            <div class="row frow">
                                32346
                            </div>
                            <div class="row row1">
                                <ul class="servicedate">
                                    <li class="date">09/04/2018</li>
                                    <li class="time">12:00-18:00</li>
                                </ul>
                            </div>
                            <div class="row customerdet">
                                <div class="row cap-1">
                                    <div class="col-auto cap-2">
                                        <img src="~/assets/cap.png" alt="" class="cap-customer-history">
                                    </div>
                                    <div class="col-auto cap-3">
                                        Lyum Watson
                                        <br>
                                        <img src="~/assets/yellow-small-star.png" alt="">
                                        <img src="~/assets/yellow-small-star.png" alt="">
                                        <img src="~/assets/yellow-small-star.png" alt="">
                                        <img src="~/assets/yellow-small-star.png" alt="">
                                        <img src="~/assets/yellow-small-star.png" alt="">
                                        4
                                    </div>
                                </div>
                            </div>
                            <div class="row row1 payment">
                                €63
                            </div>
                            <div class="row row1">
                                <p class="statustext">

                                    cancelled
                                </p>
                            </div>
                            <div class="row row1 ratesp">
                                <a class="btn" href="#">Rate SP</a>
                            </div>
                        </div>
                        <div class="row bottom">

                            <div class="col-auto">
                                <p>
                                    show
                                    <input type="number" id="quantity" name="quantity" min="1" max="5">
                                    Entries total record: 1
                                </p>
                            </div>
                            <div class="end col-auto">

                                <div class="pagination">
                                    <a href="#"><img src="~/assets/first-page.png" alt=""></a>
                                    <a href="#"><img src="~/assets/keyboard-right-arrow-button-copy.png" alt=""></a>
                                    <a href="#" class="active">1</a>
                                    <a href="#"><img src="~/assets/keyboard-left-arrow-button-copy.png" alt=""></a>
                                    <a href="#"><img src="~/assets/last-page.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="servicehistory" class="container tab-pane fade">

                        <div class="row">
                            jhgjhg
                        </div>
                        <div class="row">
                            ljhojh
                        </div>
                        <div class="row">
                            fhfyh
                        </div>
                    </div>
                </div>


            </div>
        </div>


    </section>

