@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}
<div class="faq-image container-fluid">

    <div class="row">
        <img src="assets/hero-banner-img.png" class="img-fluid" alt="">
    </div>
</div>

<section class="container" id="price-section4">

    <div class="row text-center row1">
        <p class="title m-0 p-0">A Few words about us</p>
    </div>

    <div class="row row2 justify-content-center">
        <div class="line"></div>
        <img class="px-0" id="seprator" src="~/assets/separator.png" alt="">
        <div class="line"></div>
    </div>

    <div class="row row3 justify-content-center">

        <p class="text-align: center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie convallis tempor. Duis
            vestibulum vel risus condimentum dictum. Orci varius natoque penatibus et magnis dis parturient montes,
            nascetur ridiculus mus. Vivamus quis enim orci. Fusce risus lacus, sollicitudin eu magna sed, pharetra
            sodales libero. Proin tincidunt vel erat id porttitor. Donec tristique est arcu, sed dignissim velit
            vulputate ultricies.
        </p>
        <p>
            et malesuada fames ac ante ipsum primis in faucibus. In hac habitasse
            platea dictumst. Vivamus eget mauris eget nisl euismod volutpat sed sed libero. Quisque sit amet lectus
            ex. Ut semper ligula et mauris tincidunt hendrerit. Aenean ut rhoncus orci, vel elementum turpis. Donec
            tempor aliquet magna eu fringilla. Nam lobortis libero ut odio finibus lobortis. In hac habitasse platea
            dictumst. Mauris a hendrerit felis. Praesent ac vehicula ipsum, at porta tellus. Sed dolor augue,
            posuere sed neque eget, aliquam ultricies velit. Sed lacus elit, tincidunt et massa ac, vehicula
            placerat lorem.
        </p>

    </div>
    <div class="row text-center row1">
        <p class="title m-0 p-0">Our stories</p>
    </div>

    <div class="row row2 justify-content-center">
        <div class="line"></div>
        <img class="px-0" id="seprator" src="~/assets/separator.png" alt="">
        <div class="line"></div>
    </div>

    <div class="row row3 justify-content-center">

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie convallis tempor. Duis
            vestibulum vel risus condimentum dictum. Orci varius natoque penatibus et magnis dis parturient montes,
            nascetur ridiculus mus. Vivamus quis enim orci. Fusce risus lacus, sollicitudin eu magna sed, pharetra
            sodales libero. Proin tincidunt vel erat id porttitor. Donec tristique est arcu, sed dignissim velit
            vulputate ultricies.
        </p>
        <p>
            et malesuada fames ac ante ipsum primis in faucibus. In hac habitasse
            platea dictumst. Vivamus eget mauris eget nisl euismod volutpat sed sed libero. Quisque sit amet lectus
            ex. Ut semper ligula et mauris tincidunt hendrerit. Aenean ut rhoncus orci, vel elementum turpis. Donec
            tempor aliquet magna eu fringilla. Nam lobortis libero ut odio finibus lobortis. In hac habitasse platea
            dictumst. Mauris a hendrerit felis. Praesent ac vehicula ipsum, at porta tellus. Sed dolor augue,
            posuere sed neque eget, aliquam ultricies velit. Sed lacus elit, tincidunt et massa ac, vehicula
            placerat lorem.
        </p>

    </div>

</section>

<!-- get news letter  -->
<section class="container-fluid" id="getnewssection">

    <div class="row" id="row1">

        <div class=" col-6 col-sm-2 col-md-1 order-2 order-sm-1">
            <div class="foma-container">
                <a href="#pirce-header">
                    <img class="img-fluid foma-5" src="~/assets/forma-1.png" alt="">
                </a>
            </div>
        </div>

        <div class="col-md-10 col-sm-8 order-1 order-sm-2">
            <div class="container-fluid mx-0 px-0">

                <div class="row mx-0 px-0 text-center sub-row1">
                    <p class="title mb-1">GET OUR NEWSLETTER</p>
                </div>

                <div class="row justify-content-center" id="sub-row2">

                    <div class="col-sm-auto p-0 newletter-input">
                        <input class="form-control" type="email" name="" id="" placeholder="YOUR EMAIL">
                    </div>

                    <div class="col-sm-1 py-2 py-sm-0 newletter-input">
                        <button class="btn" type="submit">Submit</button>
                    </div>

                </div>

            </div>
        </div>

        <div class="col-6 col-sm-2 col-md-1 order-2 order-sm-3 text-center mb-2 mb-sm-0">
            <img class="img-fluid" src="~/assets/layer-598.png" alt="">
        </div>

    </div>

</section>
<!-- get news letter over -->

@section Script{}