@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}

<!-- banner -->
<div id="bannerimage" class=" container-fluid">

    <div class="row">
        <img src="~/assets/group-16_2.png" class="img-fluid" alt="">
    </div>
</div>
<!-- banner over -->
<!-- 3 cards used the same css in price page also for extra services -->
<section class="container-fluid" id="commonsection2">

    <div class="row text-center row1">
        <p class="title m-0 p-0">Contact us</p>
    </div>

    <div class="row row2 justify-content-center">
        <div class="line"></div>
        <img class="px-0" id="seprator" src="~/assets/separator.png" alt="">
        <div class="line"></div>
    </div>
    <!-- 3 cards -->
    <div class="container row4 px-0">


        <div class="row mx-0 text-center subrow3">

            <div class="col-12 col-md-auto py-2">
                <div class="services-card">

                    <div class="service-card-img">
                        <img class="" src="~/assets/forma-1_2.png" alt="">
                    </div>
                    <div class="service-card-body">
                        <p class="service-text mb-0">1111 Lorem ipsum text 100,</p>
                        <p class="service-text mb-0"> Lorem ipsum AB</p>
                    </div>

                </div>
            </div>
            <div class="col-12 col-md-auto py-2">
                <div class="services-card">

                    <div class="service-card-img">
                        <img class="" src="~/assets/4.png" alt="">
                    </div>
                    <div class="service-card-body">
                        <p class="service-text mb-0">+49 (40) 123 56 7890</p>
                        <p class="service-text mb-0">+49 (40) 987 56 0000</p>
                    </div>

                </div>
            </div>
            <div class="col-12 col-md-auto py-2">
                <div class="services-card">

                    <div class="service-card-img">
                        <img class="" src="~/assets/4.png" alt="">
                    </div>
                    <div class="service-card-body">
                        <p class="service-text mb-0">info@helperland.com</p>
                        <!-- <p class="service-text2 mb-0">30 minutes</p> -->
                    </div>

                </div>
            </div>
        </div>

    </div>
    <!-- 3 cards over -->
</section>
<!-- 3-cards section over -->
<!-- touch with us and detail filling -->
<div class="container forborder">
    <div class="container-fluid touch-with-us">

        <div class="row row1">
            <div class="col">
                <p>Get in touch with us</p>
            </div>
        </div>
        <div class="row row2">
            <div class="col">

                <input class="form-control" type="text" name="" id="" placeholder="First name">
            </div>
            <div class="col">

                <input class="form-control" type="text" name="" id="" placeholder="Last name">
            </div>
            <div class="row row3"></div>
            <div class="col">

                <input class="form-control" type="tel" name="" id="" placeholder="Last name">
            </div>
            <div class="col">

                <input class="form-control" type="email" name="" id="" placeholder="Email address">
            </div>
            <div class="row row4"></div>
            <div class="col">

                <input class="form-control" type="tel" name="" id="" placeholder="Subject">
            </div>
            <div class="row row5"></div>
            <div class="col">

                <input class="form-control" style="height: 146px;" type="tel" name="" id="" placeholder="message">
            </div>
            <div class="row">

                <div class="col ">
                    <button class="btn submitbtn" type="submit">Submit</button>
                </div>
            </div>


        </div>
    </div>
</div>
<!-- touch with us over -->
<!-- map part -->
<div class="row" id="map">
    <div class="col-12">
        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe width="100%" height="400" id="gmap_canvas"
                        src="https://maps.google.com/maps?q=bhavnnagar&t=&z=13&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br>
                <a href="https://www.embedgooglemap.net"> </a>
            </div>
        </div>
    </div>
</div>
<!-- map part over -->