@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Helperland.Models.User
@{
    Layout = "_Layout";
}
<div class="container forborder">
    <div id="commonsection2">

        <div class="row text-center row1">
            <p class="title m-0 p-0">Create Account</p>
        </div>

        <div class="row row2 justify-content-center">
            <div class="line"></div>
            <img class="px-0" id="seprator" src="~/assets/separator.png" alt="">
            <div class="line"></div>
        </div>
    </div>
    <div class="container-fluid " id="createform">
        <form method="post">



            <div class="row row2">
                <div class="col form-group">
                  

                    <input class="form-control" asp-for="FirstName" type="text" placeholder="First name">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="col form-group">

                    <input class="form-control" asp-for="LastName" type="text"  id="" placeholder="Last name">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="row row3">


                <div class="col form-group">

                    <input class="form-control" asp-for="Email" type="email"  id="" placeholder="Email address">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col form-group">

                    <input class="form-control" asp-for="Mobile" type="tel" id="" placeholder="Mobile Number">
                    <span asp-validation-for="Mobile" class="text-danger"></span>
                </div>
            </div>
            <div class="row row4">

                <div class="col form-group">

                    <input class="form-control" asp-for="Password" type="password" id="" placeholder="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="col form-group">

                    <input class="form-control" type="password"  id="" placeholder="Confirm Password">
                   
                </div>
            </div>
            <div class="row">
                <div class="col form-group">

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Yes, I would like to subscribe to the Helperland GmbH newsletter with vouchers, trends, promotions and individualized offers. I can unsubscribe from the newsletter at any time in the newsletter and in my customer account</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    <div class="form-check ">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">I agree to the terms and conditions of Helperland GmbH.</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col form-group">


                    <div class="form-check ">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">I have read the privacy policy .</label>
                    </div>
                </div>
            </div>

            <div class="row btncenter">

                <div class="col form-group ">
                    <button class="btn submitbtn" type="submit">Register</button>
                </div>
            </div>
            <div class="text-center">
                Already registered?
                <a class="" asp-controller="Home" asp-action="Index">log in now</a>
            </div>

        </form>
    </div>
</div>
