@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}

<!-- banner image -->
<div id="bannerimage" class=" container-fluid">

    <div class="row">
        <img src="~/assets/faq-banner.png" class="img-fluid" alt="">
    </div>
</div>
<!-- banner image over -->
<!-- seperator and name -->
<div id="commonsection2">
    <div class="row text-center row1">
        <p class="title m-0 p-0">FAQ</p>
    </div>

    <div class="row row2 justify-content-center">
        <div class="line"></div>
        <img class="px-0" id="seprator" src="~/assets/separator.png" alt="">
        <div class="line"></div>
    </div>
</div>
<!-- seperator and name -->
<!-- content part  -->
<div id="faq-content" class="container ">
    <div class="row row1">



        <p>
            Whether you are Customer or Service provider,
        </p>
        <p>
            We have tried our best to solve all your queries and questions.
        </p>


    </div>

    <div class="row row2">
        <ul class="nav nav-tabs " role="tablist">

            <li class="col-6 nav-item">
                <a class="nav-link active " data-bs-toggle="tab" href="#forcustomer">FOR CUSTOMER</a>
            </li>

            <li class=" col-6 nav-item">
                <a class="nav-link " data-bs-toggle="tab" href="#forserviceprovider">FOR SERVICE PROVIDER</a>
            </li>

        </ul>

    </div>

    <div class="row row3">
        <div class="tab-content">
            <div id="forcustomer" class="container tab-pane active">
                <div class="accordion container" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">

                                <img src="~/assets/down-arrow.png" alt="">
                                <strong>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl nunc,
                                    iaculis
                                    mattis
                                    tellus ac ut non imperdiet?
                                </strong>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam tincidunt,
                                fringilla ante
                                vitae, dapibus velit. Vivamus id tortor rhoncus, efficitur quam at, suscipit tortor.
                                Integer
                                fermentum convallis eros vel semper. Ut non imperdiet velit. Praesent eu dui vel
                                lacus porta
                                eleifend eget quis dui. Integer tempus massa in gravida tincidunt. Fusce in libero
                                tristique,
                                euismod nisi vel, luctus urna. Interdum et malesuada fames ac ante ipsum primis in
                                faucibus.
                                Donec et placerat arcu. Suspendisse lacinia tristique massa. Etiam risus justo,
                                scelerisque id
                                arcu eu, sodales tempor eros. Aliquam efficitur pretium urna, sit amet congue risus
                                malesuada
                                rutrum. Donec id massa vel velit ullamcorper accumsan ut eget nisl. Fusce viverra
                                commodo lacus,
                                sit amet facilisis leo luctus dictum.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <img src="~/assets/down-arrow.png" alt="">
                                <strong>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl nunc,
                                    iaculis
                                    mattis
                                    tellus ac ut non imperdiet?
                                </strong>
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam tincidunt,
                                fringilla ante
                                vitae, dapibus velit. Vivamus id tortor rhoncus, efficitur quam at, suscipit tortor.
                                Integer
                                fermentum convallis eros vel semper. Ut non imperdiet velit. Praesent eu dui vel
                                lacus porta
                                eleifend eget quis dui. Integer tempus massa in gravida tincidunt. Fusce in libero
                                tristique,
                                euismod nisi vel, luctus urna. Interdum et malesuada fames ac ante ipsum primis in
                                faucibus.
                                Donec et placerat arcu. Suspendisse lacinia tristique massa. Etiam risus justo,
                                scelerisque id
                                arcu eu, sodales tempor eros. Aliquam efficitur pretium urna, sit amet congue risus
                                malesuada
                                rutrum. Donec id massa vel velit ullamcorper accumsan ut eget nisl. Fusce viverra
                                commodo lacus,
                                sit amet facilisis leo luctus dictum.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingthree">
                            <button class="button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapsethree" aria-expanded="false" aria-controls="collapsethree">
                                <img src="~/assets/down-arrow.png" alt="">
                                <strong>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl nunc,
                                    iaculis
                                    mattis
                                    tellus ac ut non imperdiet?
                                </strong>
                            </button>
                        </h2>
                        <div id="collapsethree" class="accordion-collapse collapse" aria-labelledby="headingthree"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam tincidunt,
                                fringilla ante
                                vitae, dapibus velit. Vivamus id tortor rhoncus, efficitur quam at, suscipit tortor.
                                Integer
                                fermentum convallis eros vel semper. Ut non imperdiet velit. Praesent eu dui vel
                                lacus porta
                                eleifend eget quis dui. Integer tempus massa in gravida tincidunt. Fusce in libero
                                tristique,
                                euismod nisi vel, luctus urna. Interdum et malesuada fames ac ante ipsum primis in
                                faucibus.
                                Donec et placerat arcu. Suspendisse lacinia tristique massa. Etiam risus justo,
                                scelerisque id
                                arcu eu, sodales tempor eros. Aliquam efficitur pretium urna, sit amet congue risus
                                malesuada
                                rutrum. Donec id massa vel velit ullamcorper accumsan ut eget nisl. Fusce viverra
                                commodo lacus,
                                sit amet facilisis leo luctus dictum.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <img src="~/assets/down-arrow.png" alt="">
                                <strong>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl nunc,
                                    iaculis
                                    mattis
                                    tellus ac ut non imperdiet?
                                </strong>
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam tincidunt,
                                fringilla ante
                                vitae, dapibus velit. Vivamus id tortor rhoncus, efficitur quam at, suscipit tortor.
                                Integer
                                fermentum convallis eros vel semper. Ut non imperdiet velit. Praesent eu dui vel
                                lacus porta
                                eleifend eget quis dui. Integer tempus massa in gravida tincidunt. Fusce in libero
                                tristique,
                                euismod nisi vel, luctus urna. Interdum et malesuada fames ac ante ipsum primis in
                                faucibus.
                                Donec et placerat arcu. Suspendisse lacinia tristique massa. Etiam risus justo,
                                scelerisque id
                                arcu eu, sodales tempor eros. Aliquam efficitur pretium urna, sit amet congue risus
                                malesuada
                                rutrum. Donec id massa vel velit ullamcorper accumsan ut eget nisl. Fusce viverra
                                commodo lacus,
                                sit amet facilisis leo luctus dictum.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                <img src="~/assets/down-arrow.png" alt="">
                                <strong>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl nunc,
                                    iaculis
                                    mattis
                                    tellus ac ut non imperdiet?
                                </strong>
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam tincidunt,
                                fringilla ante
                                vitae, dapibus velit. Vivamus id tortor rhoncus, efficitur quam at, suscipit tortor.
                                Integer
                                fermentum convallis eros vel semper. Ut non imperdiet velit. Praesent eu dui vel
                                lacus porta
                                eleifend eget quis dui. Integer tempus massa in gravida tincidunt. Fusce in libero
                                tristique,
                                euismod nisi vel, luctus urna. Interdum et malesuada fames ac ante ipsum primis in
                                faucibus.
                                Donec et placerat arcu. Suspendisse lacinia tristique massa. Etiam risus justo,
                                scelerisque id
                                arcu eu, sodales tempor eros. Aliquam efficitur pretium urna, sit amet congue risus
                                malesuada
                                rutrum. Donec id massa vel velit ullamcorper accumsan ut eget nisl. Fusce viverra
                                commodo lacus,
                                sit amet facilisis leo luctus dictum.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                <img src="~/assets/down-arrow.png" alt="">
                                <strong>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl nunc,
                                    iaculis
                                    mattis
                                    tellus ac ut non imperdiet?
                                </strong>
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam tincidunt,
                                fringilla ante
                                vitae, dapibus velit. Vivamus id tortor rhoncus, efficitur quam at, suscipit tortor.
                                Integer
                                fermentum convallis eros vel semper. Ut non imperdiet velit. Praesent eu dui vel
                                lacus porta
                                eleifend eget quis dui. Integer tempus massa in gravida tincidunt. Fusce in libero
                                tristique,
                                euismod nisi vel, luctus urna. Interdum et malesuada fames ac ante ipsum primis in
                                faucibus.
                                Donec et placerat arcu. Suspendisse lacinia tristique massa. Etiam risus justo,
                                scelerisque id
                                arcu eu, sodales tempor eros. Aliquam efficitur pretium urna, sit amet congue risus
                                malesuada
                                rutrum. Donec id massa vel velit ullamcorper accumsan ut eget nisl. Fusce viverra
                                commodo lacus,
                                sit amet facilisis leo luctus dictum.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSeven">
                            <button class="button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                <img src="~/assets/down-arrow.png" alt="">
                                <strong>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl nunc,
                                    iaculis
                                    mattis
                                    tellus ac ut non imperdiet?
                                </strong>
                            </button>
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam tincidunt,
                                fringilla ante
                                vitae, dapibus velit. Vivamus id tortor rhoncus, efficitur quam at, suscipit tortor.
                                Integer
                                fermentum convallis eros vel semper. Ut non imperdiet velit. Praesent eu dui vel
                                lacus porta
                                eleifend eget quis dui. Integer tempus massa in gravida tincidunt. Fusce in libero
                                tristique,
                                euismod nisi vel, luctus urna. Interdum et malesuada fames ac ante ipsum primis in
                                faucibus.
                                Donec et placerat arcu. Suspendisse lacinia tristique massa. Etiam risus justo,
                                scelerisque id
                                arcu eu, sodales tempor eros. Aliquam efficitur pretium urna, sit amet congue risus
                                malesuada
                                rutrum. Donec id massa vel velit ullamcorper accumsan ut eget nisl. Fusce viverra
                                commodo lacus,
                                sit amet facilisis leo luctus dictum.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingEight">
                            <button class="button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                <img src="~/assets/down-arrow.png" alt="">
                                <strong>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl nunc,
                                    iaculis
                                    mattis
                                    tellus ac ut non imperdiet?
                                </strong>
                            </button>
                        </h2>
                        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam tincidunt,
                                fringilla ante
                                vitae, dapibus velit. Vivamus id tortor rhoncus, efficitur quam at, suscipit tortor.
                                Integer
                                fermentum convallis eros vel semper. Ut non imperdiet velit. Praesent eu dui vel
                                lacus porta
                                eleifend eget quis dui. Integer tempus massa in gravida tincidunt. Fusce in libero
                                tristique,
                                euismod nisi vel, luctus urna. Interdum et malesuada fames ac ante ipsum primis in
                                faucibus.
                                Donec et placerat arcu. Suspendisse lacinia tristique massa. Etiam risus justo,
                                scelerisque id
                                arcu eu, sodales tempor eros. Aliquam efficitur pretium urna, sit amet congue risus
                                malesuada
                                rutrum. Donec id massa vel velit ullamcorper accumsan ut eget nisl. Fusce viverra
                                commodo lacus,
                                sit amet facilisis leo luctus dictum.
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div id="forserviceprovider" class="container tab-pane fade ">
                <div class="accordion container" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">

                                <img src="~/assets/down-arrow.png" alt="">
                                <strong>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl nunc,
                                    iaculis
                                    mattis
                                    tellus ac ut non imperdiet?
                                </strong>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam tincidunt,
                                fringilla ante
                                vitae, dapibus velit. Vivamus id tortor rhoncus, efficitur quam at, suscipit tortor.
                                Integer
                                fermentum convallis eros vel semper. Ut non imperdiet velit. Praesent eu dui vel
                                lacus porta
                                eleifend eget quis dui. Integer tempus massa in gravida tincidunt. Fusce in libero
                                tristique,
                                euismod nisi vel, luctus urna. Interdum et malesuada fames ac ante ipsum primis in
                                faucibus.
                                Donec et placerat arcu. Suspendisse lacinia tristique massa. Etiam risus justo,
                                scelerisque id
                                arcu eu, sodales tempor eros. Aliquam efficitur pretium urna, sit amet congue risus
                                malesuada
                                rutrum. Donec id massa vel velit ullamcorper accumsan ut eget nisl. Fusce viverra
                                commodo lacus,
                                sit amet facilisis leo luctus dictum.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <img src="~/assets/down-arrow.png" alt="">
                                <strong>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl nunc,
                                    iaculis
                                    mattis
                                    tellus ac ut non imperdiet?
                                </strong>
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam tincidunt,
                                fringilla ante
                                vitae, dapibus velit. Vivamus id tortor rhoncus, efficitur quam at, suscipit tortor.
                                Integer
                                fermentum convallis eros vel semper. Ut non imperdiet velit. Praesent eu dui vel
                                lacus porta
                                eleifend eget quis dui. Integer tempus massa in gravida tincidunt. Fusce in libero
                                tristique,
                                euismod nisi vel, luctus urna. Interdum et malesuada fames ac ante ipsum primis in
                                faucibus.
                                Donec et placerat arcu. Suspendisse lacinia tristique massa. Etiam risus justo,
                                scelerisque id
                                arcu eu, sodales tempor eros. Aliquam efficitur pretium urna, sit amet congue risus
                                malesuada
                                rutrum. Donec id massa vel velit ullamcorper accumsan ut eget nisl. Fusce viverra
                                commodo lacus,
                                sit amet facilisis leo luctus dictum.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingthree">
                            <button class="button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapsethree" aria-expanded="false" aria-controls="collapsethree">
                                <img src="~/assets/down-arrow.png" alt="">
                                <strong>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl nunc,
                                    iaculis
                                    mattis
                                    tellus ac ut non imperdiet?
                                </strong>
                            </button>
                        </h2>
                        <div id="collapsethree" class="accordion-collapse collapse" aria-labelledby="headingthree"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam tincidunt,
                                fringilla ante
                                vitae, dapibus velit. Vivamus id tortor rhoncus, efficitur quam at, suscipit tortor.
                                Integer
                                fermentum convallis eros vel semper. Ut non imperdiet velit. Praesent eu dui vel
                                lacus porta
                                eleifend eget quis dui. Integer tempus massa in gravida tincidunt. Fusce in libero
                                tristique,
                                euismod nisi vel, luctus urna. Interdum et malesuada fames ac ante ipsum primis in
                                faucibus.
                                Donec et placerat arcu. Suspendisse lacinia tristique massa. Etiam risus justo,
                                scelerisque id
                                arcu eu, sodales tempor eros. Aliquam efficitur pretium urna, sit amet congue risus
                                malesuada
                                rutrum. Donec id massa vel velit ullamcorper accumsan ut eget nisl. Fusce viverra
                                commodo lacus,
                                sit amet facilisis leo luctus dictum.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <img src="~/assets/down-arrow.png" alt="">
                                <strong>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl nunc,
                                    iaculis
                                    mattis
                                    tellus ac ut non imperdiet?
                                </strong>
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam tincidunt,
                                fringilla ante
                                vitae, dapibus velit. Vivamus id tortor rhoncus, efficitur quam at, suscipit tortor.
                                Integer
                                fermentum convallis eros vel semper. Ut non imperdiet velit. Praesent eu dui vel
                                lacus porta
                                eleifend eget quis dui. Integer tempus massa in gravida tincidunt. Fusce in libero
                                tristique,
                                euismod nisi vel, luctus urna. Interdum et malesuada fames ac ante ipsum primis in
                                faucibus.
                                Donec et placerat arcu. Suspendisse lacinia tristique massa. Etiam risus justo,
                                scelerisque id
                                arcu eu, sodales tempor eros. Aliquam efficitur pretium urna, sit amet congue risus
                                malesuada
                                rutrum. Donec id massa vel velit ullamcorper accumsan ut eget nisl. Fusce viverra
                                commodo lacus,
                                sit amet facilisis leo luctus dictum.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                <img src="~/assets/down-arrow.png" alt="">
                                <strong>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl nunc,
                                    iaculis
                                    mattis
                                    tellus ac ut non imperdiet?
                                </strong>
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam tincidunt,
                                fringilla ante
                                vitae, dapibus velit. Vivamus id tortor rhoncus, efficitur quam at, suscipit tortor.
                                Integer
                                fermentum convallis eros vel semper. Ut non imperdiet velit. Praesent eu dui vel
                                lacus porta
                                eleifend eget quis dui. Integer tempus massa in gravida tincidunt. Fusce in libero
                                tristique,
                                euismod nisi vel, luctus urna. Interdum et malesuada fames ac ante ipsum primis in
                                faucibus.
                                Donec et placerat arcu. Suspendisse lacinia tristique massa. Etiam risus justo,
                                scelerisque id
                                arcu eu, sodales tempor eros. Aliquam efficitur pretium urna, sit amet congue risus
                                malesuada
                                rutrum. Donec id massa vel velit ullamcorper accumsan ut eget nisl. Fusce viverra
                                commodo lacus,
                                sit amet facilisis leo luctus dictum.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                <img src="~/assets/down-arrow.png" alt="">
                                <strong>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl nunc,
                                    iaculis
                                    mattis
                                    tellus ac ut non imperdiet?
                                </strong>
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam tincidunt,
                                fringilla ante
                                vitae, dapibus velit. Vivamus id tortor rhoncus, efficitur quam at, suscipit tortor.
                                Integer
                                fermentum convallis eros vel semper. Ut non imperdiet velit. Praesent eu dui vel
                                lacus porta
                                eleifend eget quis dui. Integer tempus massa in gravida tincidunt. Fusce in libero
                                tristique,
                                euismod nisi vel, luctus urna. Interdum et malesuada fames ac ante ipsum primis in
                                faucibus.
                                Donec et placerat arcu. Suspendisse lacinia tristique massa. Etiam risus justo,
                                scelerisque id
                                arcu eu, sodales tempor eros. Aliquam efficitur pretium urna, sit amet congue risus
                                malesuada
                                rutrum. Donec id massa vel velit ullamcorper accumsan ut eget nisl. Fusce viverra
                                commodo lacus,
                                sit amet facilisis leo luctus dictum.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSeven">
                            <button class="button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                <img src="~/assets/down-arrow.png" alt="">
                                <strong>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl nunc,
                                    iaculis
                                    mattis
                                    tellus ac ut non imperdiet?
                                </strong>
                            </button>
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam tincidunt,
                                fringilla ante
                                vitae, dapibus velit. Vivamus id tortor rhoncus, efficitur quam at, suscipit tortor.
                                Integer
                                fermentum convallis eros vel semper. Ut non imperdiet velit. Praesent eu dui vel
                                lacus porta
                                eleifend eget quis dui. Integer tempus massa in gravida tincidunt. Fusce in libero
                                tristique,
                                euismod nisi vel, luctus urna. Interdum et malesuada fames ac ante ipsum primis in
                                faucibus.
                                Donec et placerat arcu. Suspendisse lacinia tristique massa. Etiam risus justo,
                                scelerisque id
                                arcu eu, sodales tempor eros. Aliquam efficitur pretium urna, sit amet congue risus
                                malesuada
                                rutrum. Donec id massa vel velit ullamcorper accumsan ut eget nisl. Fusce viverra
                                commodo lacus,
                                sit amet facilisis leo luctus dictum.
                            </div>
                        </div>
                    </div>


                </div>

            </div>

        </div>

    </div>




</div>
<!-- content part over -->
